@font-face {
    src: url("CursedTimerUlil-Aznm.ttf");
    font-family: Timer;
}

body {
    text-align: center;
    background: #1B244A;
}

/* typography */

h1 {
    color: #EEEEEE;
    font-family: 'Verdana', sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: left;
    padding: 0px;
}

h2 {
    margin: 0px;
    padding: 0px;
}

/* layout */

.score-section {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: Timer;
}

.score-container {
    margin: 0 20px;
}
.scorecount {
    height: 120px;
    width: 132px;
    background-color: #080001;
    font-size: 60px;
    color: #F94F6D;
    padding: 25px 20px 0px 20px;
    border-radius: 5px;
}

.add-button {
    height: 45px;
    width: 45px;
    margin: 25px 9px 0px 0px;
    font-family: Timer;
    font-size: 16px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: #1B244A;
    color: #9AABD8;
    cursor: pointer;
}

#timer-container {
    margin-top: 40px;
    font-family: Timer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display{
    font-size: 80px;
    display: flex;
    text-shadow: 2px 2px 2px hsl(0, 33%, 1%);
}

#controls button{
    width: 150px;
    font-size:25px;
}
#start-btn{
    background-color: #103f20;
}

#stop-btn{
    background-color: #a5233b;
}

#reset-btn{
    background-color: gold;
}